/* packages/frontend/styles/login.css */

.page {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/senior-project/images/signin_background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 60%;
  max-width: 1000px;
  max-height: 850px;
  height: 1000px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255,255,255,0.65);
  backdrop-filter: blur(12px);
}

.logo {
  font-size: 100px;
  margin-bottom: 10px;
  text-align: center;
}

img {
  width: 10vw;
  height: 10vw;
}

.card h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 50px;
}

input {
  justify-self: start;
  width: 96%;
  padding: 12px;
  margin: 8px;
  border-radius: 12px;
  border: 1px solid #aaa;
  font-size: 40px;
}

.forgot {
  display: block;
  text-align: left;
  color: #2a5db0;
  margin-left: 8px;
  font-size: 40px;
}

.forgot:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pw_checkbox {
  width: 40px;
  height: 40px;
}

.pw {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}

.pw p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.showPw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: end;
  font-size: 40px;
}

.showPw p {
  margin: 0px;
}

.loginBtn {
  width: 100%;
  max-width: 956px;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: var(--color-button);
  color: var(--color-foreground);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.loginBtn:hover {
  background: var(--color-button-hover);
}

.signup {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.signup span {
  color: #2a5db0;
}

.signup span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.error {
  color: var(--color-error);
  margin: 0px;
  margin-left: 8px;
  font-size: 40px;
}