/* packages/frontend/styles/recommended.css */

.menu {
    margin-top: 150px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.middle {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    gap: 5%;
    justify-items: center;
    margin-bottom: 300px;
}

.card {
  width: 80%;
  padding: 40px;
  border-radius: 20px;
  margin: 40px;
  background: var(--color-box);
  text-align: center;
  cursor: pointer;
}

.card h1 {
    color: var(--color-favorites);
}
