/* packages/frontend/styles/reset.css */

:root {
    --color-background: #fffcf3;
    --color-foreground: #ffffff;
    --color-box: #f3f0e6;
    --color-primary: #428e43;
    --color-accent: #ff4081;
    --color-text: #000000;
    --color-text-secondary: #b0b0b0;
    --color-border: #b3b1b1;
    --color-body-bottom: #9a5909;
    --color-bottom: #ffffff;
    --color-user-info: #D9D5C8;
    --color-favorites: #c8aa00;
    --color-edit:  #0D4692;
    --color-button: #21b80f;
    --color-button-hover: #1a970c;
    --color-error: red;
    --page-grid:3;
}