/* packages/frontend/styles/user.css */

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary)
}

.card {
  color: var(--color-text);
  align-items: center;
  width: 90%;
  max-width: 1200px;
  padding: 40px;
  border-radius: 20px;
  margin: 40px;
  background: var(--color-box);
}

.profile-img {
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  width: 150px;
  height: 150px;
  align-items: center;
  justify-self: center;
  background-color: var(--color-foreground);
}

.middle h1 {
  text-align: right;
}

.edit {
  color: var(--color-edit);
  text-decoration: underline;
  cursor: pointer;
}

.row {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.008%;
  align-items: center;
}

.row h1 {
  text-align: left;
}

.row h2 {
  background-color: var( --color-user-info);
  padding: 10px;
  border-radius: 20px;
}

.fav_row {
  display: grid;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.arrow_down {
  color: var(--color-text);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: var(--color-box);
  border-radius: 20px;
}

.favorites_dropdown {
  left: 5%;
}

.right_button {
  justify-self: end;
}

.favorites {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#favorite {
  color: var(--color-favorites);
  cursor: pointer;
}
